<div class="nav nav-admin">
  <span class="nav-admin title"> <%= t('.admin_panel') %></span>

  <div class="nav-admin user">
    <b><%= t('.welcome', current_user: current_user.name) %></b> |
    <%= link_to t('.logout'), destroy_user_session_path, method: :delete %>
  </div>
</div>
