<footer>
  <hr>
    <small>
      Training progect. On-line school <a href= "https://thinknetica.com/" target="_blank">Thinknetica</a>.
      <%= year %> 
      Romandsom <%= github_url('Romandsom', 'test-guru') %>
    </small>
</footer>
