<h1>Tests list</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Level</th>
      <th>Number of questions</th>
      <th>Action</th>
    </tr>
  </thead>  

  <%=render @tests %>
</table>
